<section>
	<h1>
	Sobre nosotros
	</h1>
	<div style="margin-top: 10px;">
		<div style="float: left; margin-right: 10px; margin-bottom: -5px;">
	    	<img src="/images/logo_mini.png" style="height: 80px">
		</div>
		<div>
		En <a href="http://www.itlinux.cl">IT Linux</a> nos dedicamos a desarrollar soluciones tecnológicas basadas en 
		productos que usan como base Linux y Open Source. Para ello estamos siempre 
		aprendiendo cosas nuevas y en este blog compartimos lo que aprendemos.
		</div>
	</div>
	<h1>Únete a nuestra lista</h1>
	Recibe los últimos trucos y datos de administración directo en tu casilla.
	<!-- Begin MailChimp Signup Form -->
	<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
		/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
		   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	</style>
	<div id="mc_embed_signup">
	<form action="http://itlinux.us6.list-manage.com/subscribe/post?u=1dbf8ae3897bd7223a43d9900&amp;id=c37b640fb9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<div class="mc-field-group">
	</label>
		<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="correo@example.com">
	</div>
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>	<div class="clear"><input type="submit" value="Registrar" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	</form>
	</div>
</section>
